<div class="banner">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <div id="carousel-img-1" class="d-block img-size"></div>
    </div>
    <div class="carousel-item">
      
      <div id="carousel-img-2" class="d-block d-block img-size"></div>
    </div>
    <div class="carousel-item">
      <div id="carousel-img-3" class="d-block d-block img-size"></div>
    </div>
    <div class="carousel-item">
      <div id="carousel-img-4" class="d-block d-block img-size"></div>
    </div>
  </div>
</div> 
</div>