<section id="our-clients">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="py-1 py-md-3 py-lg-5 d-flex flex-row flex-wrap justify-content-center gap-3 w-75 mx-auto">
                    <div id="" class="client-block">
                        <img id="clinet-img-ca" src="~/src/images/clients/ca-640w.webp"  alt="">
                    </div>
                    <div class="client-block">
                        <img src="~/src/images/clients/daroma-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="~/src/images/clients/l-ariosa-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="../../images/clients/l-ariosa-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="../../images/clients/marduk-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="../../images/clients/marduk-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="../../images/clients/marduk-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="../../images/clients/marduk-640w.webp" alt="">
                    </div>
                    <div class="client-block">
                        <img src="../../images/clients/marduk-640w.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>