<ul class="navbar-nav mx-auto text-light">
    <!-- Home -->
    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
    <!-- Products  -->
    <li class="nav-item dropdown">
        <a href="#" class="nav-link">Home</a>
        <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">SubMenu</a></li>
            <li><a href="#" class="dropdown-item">SubMenu</a></li>
            <li><a href="#" class="dropdown-item">SubMenu</a></li>
        </ul>
    </li>
    <!-- Shop -->
    <li class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" data-bs-auto-close="outside" href="#"
            data-bs-toggle="dropdown">Shop</a>
        <!-- Submenu -->
        <ul class="dropdown-menu">
            <!-- WIne -->
            <li class="dropend">
                <a class="dropdown-item dropdown-toggle" href="#"> Wine</a>
                <!-- Sub-Submenu -->
                <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#"> cPanel Server management </a></li>
                    <li><a class="dropdown-item" href="#"> Directadmin Server Management </a></li>
                </ul>
            </li>
            <!-- Beverage -->
            <li> <a class="dropdown-item" href="#"> Linux Server Management</a></li>
            <!-- Cafeteria -->
            <li> <a class="dropdown-item" href="#"> WordPress Management</a></li>
        </ul>
    </li>

</ul>



<!-- // For reference -->

            <ul class="navbar-nav mx-auto text-light">

                <li class="nav-item dropdown " id="managemenr-service-dropdown">
                    <a class="nav-link dropdown-toggle link-dark" href="#" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside">
                        Management Services </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"> Infrastructure Management</a></li>
                        <li> <a class="dropdown-item" href="#"> Linux Server Management</a></li>
                        <li> <a class="dropdown-item" href="#"> WordPress Management</a></li>
                        <li> <a class="dropdown-item" href="#"> XenFro Management</a></li>
                        <li> <a class="dropdown-item" href="#"> Magento Management</a></li>

                        <li class="dropend"> <a class="dropdown-item dropdown-toggle" href="#"> Control Panel </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="#"> cPanel Server management </a></li>
                                <li><a class="dropdown-item" href="#"> Directadmin Server Management </a></li>
                                <li><a class="dropdown-item" href="#"> Plesk Server Management </a> </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown" id="cloud-services-dropdown">
                    <a class="nav-link dropdown-toggle link-dark" data-bs-auto-close="outside" href="#"
                        data-bs-toggle="dropdown">
                        Cloud
                        Services </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"> Cloud Support </a></li>
                        <li> <a class="dropdown-item" href="#"> Cloud Migration Support </a></li>
                        <li> <a class="dropdown-item" href="#"> Cloud Cost Control </a></li>
                        <li> <a class="dropdown-item" href="#"> AWS Management Service </a></li>
                        <li> <a class="dropdown-item" href="#"> Google Cloud Management </a></li>
                        <li> <a class="dropdown-item" href="#"> Digitalocean Management </a></li>
                        <li> <a class="dropdown-item" href="#"> Vultr Management </a></li>
                        <li> <a class="dropdown-item" href="#"> Lenode Management </a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown" id="support-services-dropdown">
                    <a class="nav-link dropdown-toggle link-dark" data-bs-auto-close="outside" href="#"
                        data-bs-toggle="dropdown">
                        Support Services </a>
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"> Linux Security </a></li>
                        <li> <a class="dropdown-item" href="#"> Backup Management </a></li>
                        <li> <a class="dropdown-item" href="#"> Remote Devops </a></li>
                        <li> <a class="dropdown-item" href="#"> Application Performance </a></li>
                        <li> <a class="dropdown-item" href="#"> Project Management </a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="" class="nav-link link-dark">Enterprise</a></li>
                <li class="nav-item text-nowrap"><a href="" class="nav-link link-dark">About Us</a></li>

            </ul>