.logo {
  height: 63px;
  width: 157px;
  background-image: url("~/src/images/logo/Senza-titolo-1.gif");
  background-size: contain;
}


.custom-class {
  display: none;
}

@include media-breakpoint-up(lg) {
  .logo {
    height: 95px;
    width: 357px;
    background-image: url("~/src/images/logo/logo-1280w.png");

  }
}

.contact-btn {
  min-width: 256px;
  height: 45px;

}

.pattern {
  background-image: url("~/src/images/patterns/BG_DEA_MADRE-1920w.png"),
    linear-gradient($primary);
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}