$primary:#1A1A18;
$secondary: #A38F5C;
$info : #EBDECE;
$warning: #DBD1B1;
$danger: #111111;


// Image URL
$beer-glass : url("~/src/images/hero-carosel/birre_GettyImages-566272557-1920w.jpg");
$coffee-beans : url("~/src/images/hero-carosel/caffee_GettyImages-580676691-1920w.jpg");
$distillari : url("~/src/images/hero-carosel/distillati_GettyImages-1154768988-1920w.jpg");
$wine : url("~/src/images/hero-carosel/vini_GettyImages-534940776-1920w.jpg");


// Clients

$client-1 : url("~/src/images/clients/ca-640w.webp");
$client-2: url("~/src/images/clients/daroma-640w.webp");
$clinet-3: url("~/src/images/clients/l-ariosa-640w.webp");
$clinet-4: url("~/src/images/clients/l-ariosa-640w.webp");
$clinet-5: url("~/src/images/clients/l-ariosa-640w.webp");
$clinet-6: url("~/src/images/clients/marduk-640w.webp");
$clinet-7: url("~/src/images/clients/mogoro-640w.webp");
$clinet-8: url("~/src/images/clients/palombini-640w.webp");
$clinet-8: url("~/src/images/clients/puggioni-640w.webp");