<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
 
  <header class="">
    <%= require('html-loader!./views/sections/_top.html').default %>
  </header>
      <%= require('html-loader!./views/sections/_nav.html').default %>

  <!-- Banner section -->
  <%= require('html-loader!./views/sections/_banner.html').default %>
    <!-- our Shop section -->
    <%= require('html-loader!./views/sections/_our-shop.html').default %>

    <%= require('html-loader!./views/sections/_our-clients.html').default %>
    <!-- Contact Section -->
    <%= require('html-loader!./views/sections/_contact.html').default %>
      <!-- footer section -->
      <%= require('html-loader!./views/footer.html').default %>
</body>

</html>